body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    color: white;
    display: flex;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.side-nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.side-nav ul li {
    margin: 20px 0;
}

.side-nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    display: block;
    padding: 10px;
}

.side-nav ul li a:hover {
    background: #ffdd57;
    color: black;
    border-radius: 5px;
}

main {
    flex-grow: 1;
    padding: 50px;
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.05);
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    position: relative;
    width: 100%;
    margin-top: 20px;
}
